.App {
  text-align: center;
}

.App-header {
  padding-top: 70px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header h1 {
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px red;
  letter-spacing: 2px;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.Movie-wrapper {
  width: 400px;
  background-color: antiquewhite;
  color: black;
}

.Movie-search {
  height: 48px;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  width: 475px;
}

.Movie-title {
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
}

.Movie-date {
  font-style: italic;
  margin-bottom: 5px;
  font-size: 20px;
}

.Movie-rate {
  color: #33373d;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2rem;
}

.Movie-image {
  height: 500px;
  width: 400px;
}

.home {
  box-sizing: border-box;
  padding: 70px;
  height: 100vh;
  background-image: url('assets/images/image.jpg');
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.home h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  text-shadow: 2px 2px red;
  letter-spacing: 2px;
}

.home h3 {
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1px;
}

.nav-brand {
  font-weight: 900;
  line-height: 1;
  text-shadow: 2px 2px red;
  letter-spacing: 2px;
}
